html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
  font-size: 18px;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;
}

.typewriter {
  font-family: 'Anonymous Pro', monospace;
}
.phonebook-heading {
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  font-weight: normal;

}
.phonebook-heading:after{
  content: '';
  display: inline-block;
  background-color: #333;
  margin-left: 2px;
  height: 25px;
  width: 4px;
  animation: cursor 0.4s infinite;
}

.phone-numbers-label {
  z-index: 1;
  transform: translateX(-100%);
  color: #29241c;
  padding: 12px 10px 0 0;
}

.phone-numbers-label-sup {
  color: #b31808;
}

.phone-numbers-item {
  background-color: #f3e0b3;
}

.phone-numbers-item:nth-child(1) {
  margin-top: -10px;
  margin-left: 15px;
}

.phone-numbers-item:nth-child(2) {
  margin-top: -10px;
  margin-left: 30px;
}

.phone-numbers-item:nth-child(3) {
  margin-top: -10px;
  margin-left: 45px;
}

.phone-numbers-item:nth-child(4) {
  margin-top: -10px;
  margin-left: 60px;
}

.phone-numbers-input {
  max-width: 384px;
  color: #042d2e;
  padding: 5px 0 0 20px;
  background: url("../img/input-bg.png") no-repeat;
  border: 4px solid #32a3ad;
}

.phone-numbers-input:focus {
  outline: none;
  border: 4px solid #205b64;
}

.butterfly-container {
  z-index: 50;
  bottom: -10px;
  right: 15px;
  perspective: 1500px;
  transform-origin: center center;
}
.butterfly-container-inner {
  position: absolute;
  bottom: -10px;
  right: 15px;
  transform-style: preserve-3d;
  transform: rotate(195deg);
}
.hover-container {
  transform-style: preserve-3d;
}
.wing {
  position: absolute;
  transform-style: preserve-3d;
  animation: flap 0.3s linear infinite alternate;
  width: 100px;
  height: 100px;
  background-color: rgba(252, 227, 100, 0.69);
  background: radial-gradient(ellipse at center, rgba(252,227,100,0.9) 65%,rgba(255,0,0,0.9) 100%);
  border-bottom: 3px solid red;
}
.wing:after {
  content: ' ';
  position: absolute;
  width: 74px;
  height: 88px;
  top: -76px;
  left: 25px;
  background-color: rgba(252, 227, 100, 0.69);
  background: radial-gradient(ellipse at center, rgba(228, 203, 125, 0.9) 24%,rgba(248, 237, 110, 0.9) 27%,rgba(252,227,100,0.9) 64%,rgba(255, 0, 0, 0.9) 100%);
  border-radius: 50% 114%;
}
.left {
  transform-origin: right center;
  border-radius: 177% 50%;
}
.right {
  transform-origin: left center;
  border-radius: 50% 177%;
  left: 110px;
  animation-direction: alternate-reverse;
}

.left:after {
  left: 25px;
  border-radius: 50% 114%;
}

.right:after {
  left: 0;
  border-radius: 114% 50%;
}

.body {
  width: 10px;
  height: 80px;
  border-radius: 5px;
  background-color: #333;
  position: absolute;
  left: 100px;
  top: -30px;
}

.head {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  left: 95px;
  top: 32px;
}
.head:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 40px;
  background-color: #333;
  transform: rotateX(34deg) rotateZ(20deg) translateY(20px);
  top: -7px;
}
.head:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 40px;
  background-color: #333;
  transform: rotateX(34deg) rotateZ(-20deg) translateY(20px);
  top: -7px;
  left: 15px;
}

/* The typewriter cursor effect */
@keyframes cursor {
  0% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes flap {
  0% {
    transform: rotateY(80deg);
  }
  100% {
    transform: rotateY(-80deg);
  }
}

@media only screen and (min-width: 992px) {
  .phone-numbers-design {
    display: block!important;
  }
}

@media only screen and (max-width: 550px) {
  .phonebook-section-container {
    padding-bottom: 120px!important;
  }
}

@media only screen and (max-width: 400px) {
  .phone-numbers-form {
    width: 100%!important;
  }

  .phone-numbers-label {
    position: relative!important;
    transform: none;
  }
}
